@model House
@{
    ViewData["Title"] = "Create";
}

<h1>Add New House</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageThumbnailUrl" class="control-label"></label>
                <input asp-for="ImageThumbnailUrl" class="form-control" />
                <span asp-validation-for="ImageThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenSeen" class="control-label"></label>
                <input asp-for="WhenSeen" class="form-control" />
                <span asp-validation-for="WhenSeen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightMoveUrl" class="control-label"></label>
                <input asp-for="RightMoveUrl" class="form-control" />
                <span asp-validation-for="RightMoveUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorPlan" class="control-label"></label>
                <input asp-for="FloorPlan" class="form-control" />
                <span asp-validation-for="FloorPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>